/*
Error: Invalid CSS after "	font-family: ": expected expression (e.g. 1px, bold), was "$$verdana;; "
        on line 3074 of css/style.scss

3069: }
3070: 
3071: /* new css *\/
3072: 
3073: .single_page_container .service-module .text, body{
3074: 	font-family: $$verdana;; 
3075: }
3076: 
3077: .single_page_container{
3078: 	width: 772px; 
3079: 	margin: 0px auto; 

Backtrace:
css/style.scss:3074
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1162:in `expected'
/usr/lib/ruby/vendor_ruby/sass/script/lexer.rb:221:in `expected!'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:573:in `assert_expr'
/usr/lib/ruby/vendor_ruby/sass/script/parser.rb:62:in `parse'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1024:in `sass_script'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:877:in `value!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:750:in `block in try_declaration'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1138:in `call'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1138:in `rethrow'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:763:in `try_declaration'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:693:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:658:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:647:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:639:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:708:in `declaration_or_ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:658:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:650:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:639:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:632:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:657:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:650:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:117:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:42:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:403:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:406:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"	font-family: \": expected expression (e.g. 1px, bold), was \"$$verdana;; \"\A         on line 3074 of css/style.scss\A \A 3069: }\A 3070: \A 3071: /* new css */\A 3072: \A 3073: .single_page_container .service-module .text, body{\A 3074: 	font-family: $$verdana;; \A 3075: }\A 3076: \A 3077: .single_page_container{\A 3078: 	width: 772px; \A 3079: 	margin: 0px auto; "; }
