@import 'bourbon/_bourbon.scss';

// Variables
$georgia : 'Georgia', serif;
$verdana : 'Verdana', 'Helvetica', 'Arial', sans-serif;
$text-color : #404649;
$green : #6bbb6f;
$blue : #5fa8dc;
$light : #b7b7b7;

//Mixins
@mixin center {
	position: absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
}

@mixin stretch {
	width:100%;
	height:100%;
}

@mixin centerLeft {
	position: absolute;
	top:50%;
	left:0;
	@include transform(translate(0%,-50%));
}

@mixin centerRight {
	position: absolute;
	top:50%;
	right:0;
	@include transform(translate(0%,-50%));
}

@mixin centerHorizontal {
	position: absolute;
	left:50%;
	@include transform(translate(-50%, 0%));
}

@mixin centerVertical {
	position: relative;
	top:50%;
	@include transform(translateY(-50%));
}

@mixin triangle($direction, $color) {
	//for the longer border length, add the two shorter together
	// and find 86.66% of that sum, and use it.

	border-style: solid;
	@if $direction == left {
		border-width: 18px 31.2px 18px 0;
		border-color: transparent $color transparent transparent;
	}
	@else if $direction == right {
		border-width: 18px 0 18px 31.2px;
		border-color: transparent transparent transparent $color;
	}
	
}

@mixin breakpoint($point) {
	@if $point == small {
    	@media (max-width: 500px) { @content; }
	}
	@else if $point == medium {
    	@media (max-width: 1250px) { @content; }
	}
	@else if $point == mobile {
		@media (max-width: 1100px) { @content; }
	}
	@else {
		@media (max-width: $point) { @content; }
	}
  
}

@mixin change {
	@include transition(all .15s ease);
}

@mixin boxShadow {
	box-shadow: 0px 0px 4px 0px #ccc;
}

body , html{

	@include breakpoint(mobile) {

		max-width: 100%;
		overflow-x:hidden;

	}

}

.smaller {

	font-size: .8em;

}

.green {
	background-color: $green !important;
}

.green-text {

	color:$green !important;

}

.bold {
	font-weight: bold;
}

.bigger {

	font-size: 1.2em;

}



.uppercase {

	text-transform: uppercase;

}

.full-height {
	height:100% !important;
}

.text {
	
	font-family: $georgia;
	color:$text-color;
	line-height: 1.75rem;

}

.clear {

	clear:both;

}

.faded {

	opacity: .5;

}

.align-right {

	text-align: right;

	@include breakpoint(mobile) {

		text-align: left;

	}

}

.align-left {

	text-align: left;

}

.quick-transition {
	@include transition(all .05s linear);
}

.content {

	iframe {
		display: inline-block !important;
		vertical-align: top;
		@include box-sizing(border-box);
	}

	overflow: visible;
}

.container {
	width:1100px;
	height:auto;
	margin:0 auto;
	overflow: visible;
	position: relative;

	@include breakpoint(mobile) {

		width:85%;

	}
}

.outer-container {

	position: relative;
	width:100%;
	height:auto;
	z-index: 10;
	background-color: white;
	@include transition(all .25s ease);

	&.shifted {

		@include transform(translate(-22%, 0));

		@include breakpoint(mobile) {

			@include transform(translate(-90%, 0));			

		}

	}

}

.mast {

	position: fixed;
	width:100%;
	height:120px;
	min-height: 60px !important;
	background-color: transparent;
	z-index: 11;
	@include transition(all .25s ease);
	overflow: visible;


	.top-container {
		@include center;
		width:95%;

		@include breakpoint(mobile) {

			width:85%;

		}
	}

	.container {
		overflow: visible;
	}

	.bottom-container {

		position: absolute;
		bottom:20%;
		right:2.5%;
		display: none;
		text-align: right;

		@include breakpoint(1500px) {

			bottom: 7%;

		} 

		@include breakpoint(mobile) {

			text-align: left;

		}

	}

	&.opaque {

		background-color: white;

	}

	&.shifted {

		@include transform(translate(-22%, 0));

		@include breakpoint(mobile) {

			@include transform(translate(-90%, 0));			

		}

	}


	@include breakpoint(mobile) {

		height:60px;
		background-color: white;

	}


}

#nav-button {

	font-size: 2.2rem;
	position: fixed;
	cursor:pointer;
	color:$green;
	top:5%;
	top:2.5vw;
	right:2.5%;
	right:2.5vw;
	z-index: 15;

	&.above-fold {

		color:white;

	}

	&.white {

		background-color: white;

	}

	@include breakpoint(small) {

		top:5vw;
		right:5vw;

	}

}

#logo {

	position: fixed;
	top:5%;
	top:2.5vw;
	left:2.5%;
	left:2.5vw;
	z-index: 15;
	width:160px;
	min-width: 70px !important;
	@include transform(translate(0,0));

	@include transition(all .75s ease);

	&.shifted {

		@include transform(translate(-100%, 0));

	}

	@include breakpoint(1500px) {

		width:120px;

	}

	@include breakpoint(mobile) {

		width:120px;

	}

	@include breakpoint(small) {

		width:90px;
		top:5vw;
		left:5vw;

	}

}

.nav-container {

	position: fixed;
	right:0;
	top:0;
	z-index:9;
	width:22%;
	width: 22vw;
	height:100%;
	height:100vh;
	background-color: $green;

	&.closed {

		display: none;

	}

	@include breakpoint(mobile) {

		width:90%;
		width:90vw;

	}

}

.nav-positioner {

	position: absolute;
	bottom: 3vw;
	right:3vw;

	@include breakpoint(mobile) {

		bottom:10vw;
		right:10vw;


	}

}

.nav {
	
	text-align: right;

	li {

		font-family: $georgia;
		color:white;
		font-weight: bold;
		font-style: italic;
		font-size: 3.5rem;
		display: inline-block;
		position: relative;

		@include breakpoint(1500px) {

			font-size:2.8rem;

		}

		@include breakpoint(mobile) {

			font-size: 2.5rem;

		}

	}


}

.nav-indicator {

	position: absolute;
	top:5px;
	left:100%;
	width:20px;
	height:20px;
	background-color: white;
	border-radius: 50%;

	@include breakpoint(1500px) {

		width:15px;
		height:15px;

	}

	@include breakpoint(mobile) {

		width:15px;
		height:15px;

	}

}

.title {


	@include centerRight;
	right:130%;
	color:$green;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-family: $verdana;
	

	&.above-fold {

		color:white;

	}

	@include breakpoint(mobile) {

		font-size: .9rem;

	}

}



.nav-details {

	margin-top: 90px;
	text-align: right;

	@extend .details;

	@include breakpoint(1500px) {

		margin-top: 60px;

	}

	@include breakpoint(mobile) {

		margin-top: 30px;

	}

}



.mast-logo-letters {

	fill: $green;

	&.above-fold {

		fill: white;

	}

}



.spacer {
	width:100%;
	height:120px;

	@include breakpoint(mobile) {

		height:60px;

	}

}

.banner {
	width:100%;
	height:28vw;

	
	
}

.home-banner {

	position: relative;
	width:100%;
	margin:0 auto;
	height:82vh;

	@include breakpoint(mobile) {

		height:100vh;

	}
}


.mobile-home-banner {

	display: none;

}

.photo-content-container {

	position: absolute;
	right:2.5vw;
	bottom:5vw;
	width:650px;
	text-align: right;
	overflow: hidden;
	letter-spacing: -1px;


	@include breakpoint(mobile) {

		@include box-sizing(border-box);
		padding: 0 4%;
		width:100%;
		bottom: 20%;
		bottom: 20vh;

	}

}

.photo-content-title {

	font-family: $verdana;
	color:white;
	font-size: 5rem;
	letter-spacing: -5px;
	margin-bottom: 10px;

	@include breakpoint(mobile) {

		font-size: 2rem;
		letter-spacing: -2px;

	}

}

.photo-content-text {

	font-family: $verdana;
	color:white;
	font-size: 1.5rem;

	@include breakpoint(mobile) {

		font-size: 1.2rem;

	}

}

.photo-content-button {

	position: relative;
	width:150px;
	height:40px;
	border:3px solid white;
	float:right;
	margin-top: 50px;
	@include transition(all .25s linear);

	p {

		@include center;
		color:white;
		white-space: nowrap;
		font-family: $verdana;
		font-weight: bold;
		font-style: .9rem;

	}

	&:hover {

		background-color: white;

		p {

			color:$text-color;

		}

	}

}


.footer-banner {
	background-color: $green;
	height:250px;
	position: relative;
	color:white;

	.container {

		@include center;

	}
}

.banner-quote {

	font-family: $verdana;
	font-size: 2rem;
	letter-spacing: -3px;

	@include breakpoint(mobile) {

		font-size: 1.2rem;
		letter-spacing: -1px;

	}

}

.banner-quote-source {

	font-family: $verdana;
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 20px;

	@include breakpoint(mobile) {

		font-size: .8rem;

	}

}

.intro-blurb-container {
	
	width:100%;
	overflow: auto;
	margin: 50px 0 100px 0;

}

.intro-blurb-column {

	float:left;
	width:50%;
	@include box-sizing(border-box);
	padding:10px 40px 40px 40px;
	text-align: right;

	&:last-child {

		text-align: left;
		border-left:2px solid #d1d1d1;

		@include breakpoint(mobile) {

			border:none;

		}

	}

	.section-title {

		border:none;
		font-style: normal;
		font-family: $verdana;
		font-size: 1.5rem;
		margin-bottom: 20px;

		@include breakpoint(mobile) {

			font-size: 1.2rem;
			text-align: center;

		}

	}


	.text {

		font-family: $verdana;

		@include breakpoint(mobile) {

			font-size: .9rem;

		}

	}

	@include breakpoint(mobile) {

		float: none;
		width:100%;
		text-align: left;
		padding: 10px 0px;
		border:none;

	}

}



.divider {
	height:2px;
	width:100%;
	background-color: #d1d1d1;
	clear: both;

}

.medium-container {

	position: relative;
	width:100%;
	height:auto;
	overflow: visible;
	position: relative;
	margin-top: 75px;
	margin-bottom: 100px;

	@include breakpoint(mobile) {

		margin:30px 0 100px 0;

	}

	.section-title {

		border:none;
		font-style: normal;
		font-family: $verdana;
		font-size: 1.5rem;
		margin-bottom: 40px;
		padding-bottom: 10px;
		border-bottom: 2px solid #d1d1d1;

		&:last-child {

			position: absolute;
			right:0;
			top:110%;
			border:none;
			border-top: 2px solid #d1d1d1;
			padding-top: 10px;
			margin-bottom: 0;

			i {

				position: absolute;
				@include centerLeft;
				left:105%;
				font-size: 3rem;

			}

			@include breakpoint(mobile) {

				top:103%;
				right:5%;

			}

		}

	}

}

.home-medium-container {

	@extend .medium-container;

	margin-top: 15px;

	.section-title {

		text-transform: none;
		padding-bottom: 15px;

	}

}

.section-title {
	border-bottom: 6px solid $green;
	width:auto;
	display: inline-block;
	font-family: $verdana;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-bottom: 40px;
	padding-bottom: 13px;
	color:$text-color;

	@include breakpoint(small) {

		font-size: 1.2rem;
		margin-bottom: 20px;

	}
}


.twitter-container {
	width:100%;
	height:auto;
	position: relative;
	overflow: visible;
	margin: 70px 0 125px 0;
}


.twitter-block {

	width:50%;
	height:350px;
	float: left;
	@include box-sizing(border-box);
	padding: 40px 60px;
	position: relative;


	&:first-child {
		border-left: 2px solid #d1d1d1;

		.tweet-handle-container {

			@include breakpoint(mobile) {

				left:20px;

			}
		}

		@include breakpoint(mobile) {
			padding: 20px;
			border:none;

		}

	}

	&:nth-child(2) {
		border-left: 2px solid #d1d1d1;	
		border-right: 2px solid #d1d1d1;	

		@include breakpoint(mobile) {

			padding: 20px;
			border:none;

		}
	}

	@include breakpoint(mobile) {

		width:100%;
		float:none;
		padding:20px;

	}

}

.twitter-see-more {

	position: absolute;
	left:100%;
	height:350px;
	width:8%;
	overflow: hidden;

	@include breakpoint(mobile) {

		display: none;

	}

}

.twitter-circle {

	width:100px;
	height:100px;
	border-radius: 50%;
	background-color: $blue;
	@include center;
	left:0%;

	i {

		color:white;
		@include centerRight;
		font-size: 3rem;
		right:20px;

	}

}

.tweet-text {

	font-family: $georgia;
	font-style: italic;
	font-size: 1.5rem;
	margin-bottom: 5px;
	color:$blue;
	font-weight: bold;

}

.tweet-time {
	font-family: $verdana;
	color: lighten($text-color, 50%);
	font-size: .8rem;

}


.tweet-handle-container {
	overflow: auto;
	position: absolute;
	left: 40px;
	bottom: 40px;

	i {
		color:#78cbef;
		font-size: 2rem;
		float:left;
		margin-right: 5px;
	}

	p {

		font-family: $verdana;
		font-size: .8rem;
		float:left;
		line-height: 2rem;
		color:lighten($text-color, 50%);

	}

	@include breakpoint(mobile) {

		left:20px;

	}

}

.footer {
	background-color: black;
	width:100%;
	height:275px;
	position: relative;
	color:white;
	
	@extend .details;

	.container {
		@include center;
		overflow: auto;
		width:93%;
		height:auto;

		@include breakpoint(mobile) {

			padding: 40px 0;
			position: static;
			@include transform(none);

		}

	}

	.footer-details {
		
		float:left;
		margin-right: 70px;

		p {
			margin-bottom: 3px;
		}

		@include breakpoint(mobile) {

			position: static;
			@include transform(none);
			margin-top: 30px;
			font-size: .7rem !important;
			float:none;

		}
	}


	li {

		margin-bottom: 3px;

	}

	a {

		&:hover {

			text-decoration: underline;

		}

	}

	@include breakpoint(mobile) {

		height:auto;

	}
}

.footer-title {

	font-weight: bold;
	color:$green;


}

.footer-links {

	float:left;
	margin-right: 70px;

}

.portal-links {

	float:left;

	@include breakpoint(mobile) {

		float:none;

	}

}

.footer-logo {
	float:none;
	display: block;
	width:240px;
	margin-bottom: 17px;

	@include breakpoint(mobile) {

		position: static;
		@include transform(none);
		width:80%;

	}
}

.details {

	font-family: $verdana;
	color:white;
	font-size: .8rem;

	a {
		color:white;
	}

	@include breakpoint(mobile) {

		font-size: .5rem;

	}



}

.footer-nav {

	float:right;
	font-family: $verdana;
	color:white;
	font-size: .8rem;
	margin-left: 40px;

	ul {
		text-align: right;
	}

	@include breakpoint(mobile) {

		float:none;
		margin-left: 0;
		margin-top: 20px;

		ul {

			text-align: left;

		}

		&:last-child {

			display: none;

		}

	}

}

.footer-next-page {

	float:right;
	position: relative;
	height:100%;
	margin-left: 40px;
	text-align: right;

	i {

		color:$green;
		font-size: 4rem;
		margin-top: 20px;

	}

}


.team-member {

	position: relative;
	width:100%;
	height:auto;
	overflow: auto;
	padding: 50px 0;

	&:first-child {

		padding-top: 75px;

		@include breakpoint(mobile) {

			padding-top: 30px;

		}

	}

	&:last-child {

		padding-bottom: 75px;

	}

}

.team-member-image-container {

	float:left;
	width: 10%;

	@include breakpoint(mobile) {

		float:none;
		width:80%;
		margin:0 auto;	

	}

}

.team-member-image {

	width:220px;
	height:220px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;

	@include breakpoint(mobile) {

		margin: 0 auto;
		width:200px;
		height:200px;
		margin-bottom: 10px;

	}

}

.team-member-info-container {
	float:right;
	width:77%;

	@include breakpoint(mobile) {

		float:none;
		width:100%;

	}
}


.team-member-name {

	color:$text-color;
	margin-bottom: 5px;

	span:first-child {

		font-family: $georgia;
		font-weight: bold;
		font-size: 2rem;
		border-right: 4px solid $green;
		padding-right: 20px;

		@include breakpoint(mobile) {

			font-size: 1.5rem;

		}

	}

	span:last-child {

		font-family: $verdana;
		font-size: 1.2rem;
		padding-left: 20px;
		line-height: 2rem;

	}

	@include breakpoint(mobile) {

		text-align: center;

	}

	.smaller {

		font-size: .7em;

	}

}

.team-member-description {

	@extend .text;

	a {

		color:$green;

	}

	@include breakpoint(mobile) {

		
		font-size: .9rem;

	}

}



.secondary-team {

	width:100%;
	height:auto;
	position: relative;
	overflow: auto;
	padding:60px 0;

}

.secondary-team-member {

	position: relative;
	width:20%;
	background-size: cover;
	background-position: center;
	float:left;
	overflow: hidden;

	@include breakpoint(mobile) {

		width:50%;

	}

}


.secondary-team-member-info {

	position: absolute;
	bottom:15px;
	left:15px;
	color:white;

}

.secondary-team-member-name {

	font-family: $georgia;
	font-weight: bold;
	font-style: italic;
	font-size: 1.2rem;

}

.secondary-team-member-position {

	font-family: $verdana;
	font-size: .8rem;

}

.overlay {

	position: absolute;
	width:100%;
	height:100%;
	background-color: $green;
	opacity: .9;
	top:100%;
	right:100%;
	@include transition(all .25s ease);
	
}



.affiliations {

	width:100%;
	height:auto;
	padding: 50px 0;

	.section-title {
		margin-bottom: 20px;
	}

}

.ethics {

	@extend .affiliations;

	ul {
		
		width:300px;
		margin:0 auto;
		font-family: $georgia;
		font-size: 1.3rem;
		padding:30px;

		@include breakpoint(mobile) {

			width:100%;
			font-size: 1rem;
			padding:30px 0 30px 0;

		}

	}

	li {
		display: inline-block;
		float:none;
		margin-bottom: 10px;

		span {

			color:$green;

			font-weight: bold;
			font-style: italic;

		}

	}

}

.service-module-title {
	border: none;
	margin-bottom: 10px;
	font-size: 1.5rem;
	// text-align: center;
	display:block;
	font-style: normal;

	@include breakpoint(mobile) {

		text-align: center;

	}
}

.service-section {

	width:70%;
	overflow: auto;
	margin:0 auto;
	padding-top: 100px;
	position: relative;

	.text {

		font-family: $verdana;
		line-height: 1.5;

		@include breakpoint(small) {

			font-size: .9rem;

		}

	}

	&:first-child {

		padding-top: 30px;

	}

	&:last-child {

		padding-bottom: 100px;

	}

	ol {

		list-style: decimal outside;
		font-family: $verdana;
		line-height: 1.5;
		color:$text-color;

		&:not(:nth-child(2)) {

			margin-top: 2rem;

		}

		li {
	
			list-style: decimal outside;
			margin-left: 27px;			

		}


	}

	@include breakpoint(mobile) {

		width:100%;

	}

}

.service-module {

	float:left;
	width:36%;
	@include box-sizing(border-box);
	

	.text {
		font-size: .9rem;
		line-height: 1.5rem;
	}


	.section-title {
		
		@extend .service-module-title;

	}

	&:first-of-type {
		width:32%;
		padding:0 40px 0px 0;
		

	}

	&:nth-of-type(2) {
		border-right:2px solid #d1d1d1;
		padding:0 40px 0 40px;
		border-left:2px solid #d1d1d1;

	}

	&:last-of-type {

		width:32%;
		padding:0 0 0px 40px;
		

	}

	a {

		font-family: $verdana;
		font-weight: bold;
		color:$green;

	}

	@include breakpoint(mobile) {

		float:none;
		width:100% !important;
		padding: 0 !important;
		border:none !important;
		margin-bottom: 40px;

	}

}

.services-banner {

	.banner-quote, .banner-quote-source {

		width:70%;
		margin:0 auto;

	}

}

.ethics-slideshow {

	position: relative;
	margin: 15px 0;
	height:7rem;
	overflow: hidden;

	@include breakpoint(mobile) {

		height:3rem;

	}

}

.ethics-slide {

	position: absolute;
	@include transform(translate(-100%, 0));
	font-family: $verdana;
	font-weight: bold;
	font-size: 5.5rem;
	background-color: white;
	letter-spacing: -5px;
	color:$green;
	@include transition(all .5s ease);


	@include breakpoint(mobile) {

		font-size: 2rem;
		letter-spacing: -1px;

	}

}

.ethics-slide-visible {

	@include transform(translate(0%, 0))

}

.ethics-slideshow-title {

	display: inline-block;
	font-family: $verdana;
	text-transform: uppercase;
	font-size: 1rem;
	@include box-sizing(border-box);
	border-top: 2px solid lighten($text-color, 55%);
	padding-top: 10px;
	margin-top: 10px;
	color:lighten($text-color, 55%);

}





.process-line {

	width:98%;
	height:auto;

	@include breakpoint(mobile) {

		display: none;

	}
	
}

.process-module {

	overflow: auto;
	width:100%;
	height:auto;
	position: absolute;

	@include breakpoint(mobile) {

		position: static;
		margin:50px 0;
		top:0;

	}

}

.process-module-end {

	position: relative;
	bottom: 80px;

	@include breakpoint(mobile) {

		position: static;
		margin-bottom: 50px;

	}


}

.process-module-left {

	.process-module-icon {
		width:12%;
	}

	.process-module-text {
		width:50%;

		@include breakpoint(mobile) {

			width:100%;

		}
	}

	i {
		padding: 30px 30px 30px 0px;
	}

}

.process-module-right {

	.process-module-icon {
		width:15%;
		float:right;

		@include breakpoint(mobile) {

			float:none;

		}
	}

	.process-module-text {
		width:55%;
		float:right;

		@include breakpoint(mobile) {

			width:100%;
			float:none;

		}
	}

	i {
		padding: 30px 0px 30px 30px;
	}

}

.process-module-center {

	background-color: white;
	padding:25px 0;

	.process-module-icon {

		float:none;
		width:100%;
		text-align: center;

		@include breakpoint(mobile) {

			text-align: center;


		}

	}

	.process-module-text {

		float:none;
		width:60%;
		text-align: center;
		margin:0 auto;

		.section-title {

			margin:20px 0;

		}

		@include breakpoint(mobile) {

			width:100%;
			text-align: left;

			.section-title {

				margin: 0;
				margin-bottom: 10px;

			}

		}

	}

	@include breakpoint(mobile) {

		padding:0;

	}
}

.process-module-icon {

	float:left;
	background-color: white;

	i {

		color:#dddddd;
		font-size: 6rem;
		@include transition(all .25s ease);
	}

	@include breakpoint(mobile) {

		display: none;

	}


}

.process-module-text {

	float:left;

	.section-title {

		margin-bottom: 10px;
		width:0px;
		@include transition(width .25s ease);
		font-family: $verdana;
		font-style: normal;

		@include breakpoint(mobile) {

			width:auto;

		}

	}

	.text {

		font-family: $verdana;
		font-size: .9rem;
		line-height: 1.4rem;


	}

}


.process-discover {

	top:230px;

	@include breakpoint(mobile) {

		padding-top: 40px;

	}

}

.process-analyze {

	top:840px;

}

.process-strategize {

	top:1825px;

}


.process-implement {

	top:2350px;

}


#analyze-title {

	direction:rtl;

	@include breakpoint(mobile) {

		direction: ltr;

	}

}

#implement-title {

	overflow: auto;
	height:3.5rem;

	p {

		@include center;

		@include breakpoint(mobile) {

			position: static;
			@include transform(translate(0,0));


		}

	}

	@include breakpoint(mobile) {

		overflow: visible;
		height:auto;

	}

}


.blog-thumb-container {

	@extend .medium-container;	

}

.medium-row {

	width:100%;
	height:auto;
	overflow: auto;
	margin-bottom: 10px;

}


.skippr {
	width:100%;
	height:100%;
	position: relative;
	overflow:hidden;
}

.skippr > div {
	position: absolute;
	width:100%;
	height:100%;
	background-size: cover;
	background-position: 50% 62.5%;

}

.skippr > img {
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:100%;
	min-height: 100%;
}

.skippr-nav-container {
	position: absolute;
	left:50%;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);

	bottom:25px;
	overflow: auto;
	z-index:999;

	@include breakpoint(mobile) {

		width:100%;
		bottom:25px;

		@include box-sizing(border-box);
		
	}

}

.skippr-nav-element {
	cursor:pointer;
	float:left;
	background-color: rgba(255,255,255,0.5);
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}

.skippr-nav-element-bubble {
	width:12px;
	height:12px;
	border-radius: 50%;
	margin:0 4px;
}

.skippr-nav-element-block {
	width:60px;
	height:10px;

	@include breakpoint(mobile) {

		height:20px;
		width: calc(100% / 5);

	}
}



.skippr-nav-element:hover, .skippr-nav-element-active {
	background-color:rgba(255,255,255,1);
}


.skippr-arrow {
	position: absolute;
	z-index:999;
	top:50%;
	-webkit-transform:translate(0%,-50%);
	-moz-transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%);
	transform:translate(0%,-50%);

	width:30px;
	height:30px;
	transform-origin:center center;
	-webkit-transform-origin:top left;
	cursor: pointer;
}

.skippr-previous {
	left:2.5%;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	border-top:2px solid white;
	border-left:2px solid white;
}

.skippr-next {
	right:3.5%;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	border-bottom:2px solid white;
	border-right:2px solid white;
}



.active-video-container {

	width:100%;
	margin-bottom: 30px;

}


.active-video-title {

	font-family: $georgia;
	font-weight: bold;
	color:$text-color;
	font-size: 1.5rem;

}

.active-video-description {

	font-family: $verdana;
	color:$text-color;
	font-size: .8rem;

}


.video-thumbnail-container {

	width:100%;
	position: relative;
	overflow: auto;
	margin:30px 0 250px 0;

}

.video-thumbnail {

	position: relative;
	width:20%;
	float:left;
	background-color: $green;
	@include box-sizing(border-box);
	padding: 7px;
	background-clip: content-box;
	color:white;
	cursor:pointer;

	i {

		@include center;
		color:white;
		font-size: 3rem;

	}

}

.video-thumbnail-info-container {

	position: absolute;
	bottom: 0;
	@include box-sizing(border-box);
	padding: 0 10px 20px 10px;
	


}

.video-thumbnail-title {

	font-family: $georgia;
	font-weight: bold;
	font-size: .9rem;

}

.video-thumbnail-description {

	font-family: $verdana;
	font-size: .7rem;

}



.inquiry-banner {

	@extend .home-banner;

	margin:0 auto;
	height:auto;

}

.inquiry-form-container {

	margin:0 auto;
	overflow: auto;
	@include box-sizing(border-box);
	padding:100px 0;
	font-family: $verdana;


}

.form-page-banner {

	.container {

		width:380px;
		overflow: visible;

		p {

			white-space: nowrap;

		}

		@include breakpoint(small) {

			@include center;
			width:80%;

		}

	}



}

.inquiry-form {

	width:380px;
	margin:0 auto;

	& > div {

		margin-bottom: 20px;

	}

	input, textarea {

		background-color: transparent;
		border-radius: 0;
		outline:none;
		border:none;
		-webkit-appearance: none;
		border: 2px solid $light;
		width:100%;
		font-family: $verdana;
		color:$text-color;
		font-size: 1.2rem;
		@include box-sizing(border-box);
		padding:8px 10px;

		&:focus {

			outline: none;
			border: 2px solid $green;

		}

	}

	textarea {

		height: 120px;
		resize:none;

	}

	label {

		font-family: $verdana;
		color:$text-color;
		font-size: .7rem;		

	}

	.tabbed-input {

		width:90%;
		float:left;

	}

	[datepicker], datepicker {

		width:90%;

		input {

			width:100% !important;

		}

	}

	.input-tab {

		width:10%;
		float:left;
		background-color: $light;
		position: relative;
		display: inline-block;
		border:2px solid $light;
		@include box-sizing(border-box);
		height:43px;
		cursor: pointer;

		i {

			@include center;
			color:white;
			font-size: 1.2rem;

		}

	}

	@include breakpoint(small) {

		width:100%;
		@include box-sizing(border-box);
		padding:0 20px;

	}

}

.form-title {

	color:$green;
	font-size: 1.6rem;
	line-height: 2rem;
	margin-bottom: 20px;

}

.form-secondary-title {

	color:$text-color;
	font-size: 1.1rem;
	margin-bottom: 20px;

}

.inquiry-form-button {
	margin-top: 40px;
	height:50px;
	width:100%;
	float:left;
	@include box-sizing(border-box);
	border:1px solid white;
	position: relative;
	color:white;

	

	&:last-child {

		background-color: $green;
		color:white;

	}

	p {

		@include center;
		text-transform: uppercase;
		font-size: 1.1rem;
		font-family: $verdana;
		white-space: nowrap;

	}

}


.indicator {

	font-size: 1.4rem;
	font-family: $verdana;
	font-weight: bold;
	color: $light;
	z-index: 15;

	@include breakpoint(medium) {

		font-size: 1.1rem;

	}

}

.indicator-element {

	@extend .indicator;

	position: absolute;
	left: 2.5vw;

}

.inquire-link {

	position: fixed;
	left:2.5vw;
	top:115px;
	@extend .indicator;
	
	@include breakpoint(mobile) {

		display: none;

	}

}

.home-service-modules-container {

	@extend .service-section;

	width:100%;
	padding-bottom: 50px;
	margin-top: 60px;
	padding-top: 0;

	.section-title {

		font-family: $verdana;
		font-size: 1.2rem;

	}

	.service-module {

		border:none;

	}

}


// For the ng-datapicker directive
.dropdown-menu {

	max-height: 300px;
	overflow-y: scroll;

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;

	& > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 20px;
		color: #333333;
		white-space: nowrap;

	}	

	& > .active > a {

		color: #ffffff;
		text-decoration: none;
		background-color: #0081c2;
		background-image: -moz-linear-gradient(top, $green, $green);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from($green), to($green));
		background-image: -webkit-linear-gradient(top, $green, $green);
		background-image: -o-linear-gradient(top, $green, $green);
		background-image: linear-gradient(to bottom, $green, $green);
		background-repeat: repeat-x;
		outline: 0;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);
	}


}


.pagination {

	font-family: $verdana;
	font-size: 1.1rem;
	overflow: auto;
	float:right;
	margin:50px 0;

	li {

		float:left;
		margin-left:10px;
		border-radius: 5px;

		&.active {

			background-color: $green;
			color:white;

		}

		&.disabled {

			display: none;

		}


	}

	@include breakpoint(mobile) {

		float:none;
		margin:50px auto;

	}

}




#info {

	@include filter(grayscale(100%));

}








