@import 'bourbon/_bourbon.scss';

// Variables
$georgia : 'Georgia', serif;
$verdana : 'Verdana', 'Helvetica', 'Arial', sans-serif;
$text-color : #404649;
$green : #6bbb6f;
$blue : #5fa8dc;

//Mixins
@mixin center {
	position: absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
}

@mixin stretch {
	width:100%;
	height:100%;
}

@mixin centerLeft {
	position: absolute;
	top:50%;
	left:0;
	@include transform(translate(0%,-50%));
}

@mixin centerRight {
	position: absolute;
	top:50%;
	right:0;
	@include transform(translate(0%,-50%));
}

@mixin centerHorizontal {
	position: absolute;
	left:50%;
	@include transform(translate(-50%, 0%));
}

@mixin centerVertical {
	position: relative;
	top:50%;
	@include transform(translateY(-50%));
}

@mixin triangle($direction, $color) {
	//for the longer border length, add the two shorter together
	// and find 86.66% of that sum, and use it.

	border-style: solid;
	@if $direction == left {
		border-width: 18px 31.2px 18px 0;
		border-color: transparent $color transparent transparent;
	}
	@else if $direction == right {
		border-width: 18px 0 18px 31.2px;
		border-color: transparent transparent transparent $color;
	}
	
}

@mixin breakpoint($point) {
	@if $point == small {
    	@media (max-width: 500px) { @content; }
	}
	@else if $point == medium {
    	@media (max-width: 1250px) { @content; }
	}
	@else {
		@media (max-width: $point) { @content; }
	}
  
}

@mixin change {
	@include transition(all .15s ease);
}

@mixin boxShadow {
	box-shadow: 0px 0px 4px 0px #ccc;
}

.green {
	background-color: $green !important;
}

.green-text {

	color:$green !important;

}

.bold {
	font-weight: bold;
}

.full-height {
	height:100% !important;
}

.text {
	
	font-family: $georgia;
	color:$text-color;
	line-height: 1.75rem;

	@include breakpoint(1000px) {

		// padding:0 10px;

	}
}

.align-right {

	text-align: right;

}

.align-left {

	text-align: left;

}

.quick-transition {
	@include transition(all .05s linear);
}

.content {

	iframe {
		display: inline-block !important;
		vertical-align: top;
		@include box-sizing(border-box);
	}

	overflow: visible;
}

.container {
	width:1100px;
	height:auto;
	margin:0 auto;
	overflow: visible;
	position: relative;

	@include breakpoint(1000px) {

		width:85%;

	}
}

.mast {
	position: fixed;
	width:100%;
	height:120px;
	min-height: 60px !important;
	background-color: transparent;
	z-index: 9999;
	@include transition(all .1s ease);
	overflow: visible;


	.top-container {
		@include center;
		width:95%;

		@include breakpoint(1000px) {

			width:85%;

		}
	}

	.container {
		overflow: visible;
	}

	.bottom-container {

		position: absolute;
		bottom:20%;
		right:2.5%;
		display: none;
		text-align: right;

		@include breakpoint(1500px) {

			bottom: 7%;

		}

	}

	i {
		
		font-size: 2.2rem;
		@include centerRight;
		cursor:pointer;
		color:$green;
	}

	i.above-fold {

		color:white;

	}

	@include breakpoint(1000px) {

		height:60px;

	}

	

}

.nav {
	
	li {

		font-family: $georgia;
		color:white;
		font-weight: bold;
		font-style: italic;
		font-size: 3.7rem;
		display: inline-block;
		position: relative;

		@include breakpoint(1500px) {

			font-size:3.2rem;

		}

		@include breakpoint(1000px) {

			font-size: 2rem;

		}

	}



}

.nav-indicator {

	position: absolute;
	top:5px;
	right:100%;
	width:20px;
	height:20px;
	background-color: white;
	border-radius: 50%;

	@include breakpoint(1000px) {

		width:10px;
		height:10px;

	}

}

.title {

	display: inline;
	@include centerRight;
	margin-right: 40px;
	margin-top: 2px;
	font-family: $verdana;
	color:$green;
	text-transform: uppercase;
	font-size: 1.2rem;
	// @include transition(all .25s ease);

	&.above-fold {

		color:white;

	}

	@include breakpoint(1000px) {

		font-size: .9rem;

	}

}



.nav-details {
	margin-top: 60px;

	@extend .details;

	@include breakpoint(1000px) {

		margin-top: 30px;

	}

}

.mast-logo {
	width:160px;
	min-width: 70px !important;
	float: left;
	@include transition(width .1s linear);

	@include breakpoint(1500px) {

		width:120px;

	}

	@include breakpoint(1000px) {

		width:70px;

	}

}

.mast-logo-letters {

	fill: $green;

	&.above-fold {

		fill: white;

	}

}



.spacer {
	width:100%;
	height:120px;

	@include breakpoint(1000px) {

		height:60px;

	}

}

.banner {
	width:100%;
	height:28vw;

	
	
}

.home-banner {

	position: relative;
	width:100%;
	margin:0 auto;
	height:82vh;
	// background-image: url(../img/tiles-large.jpg);
	// background-position: center;
	// background-size: cover;

	@include breakpoint(1000px) {

		height:100vh;

	}
}


.mobile-home-banner {

	display: none;
	background-size: cover;
	background-position: center;

	@include breakpoint(1000px) {

		display: block;
		position: relative;
		width:100%;
		height:100%;

	}

}

.photo-content-container {

	position: absolute;
	right:2.5vw;
	bottom:5vw;
	width:550px;
	text-align: right;
	overflow: auto;


	@include breakpoint(1000px) {

		@include box-sizing(border-box);
		padding: 0 4%;
		width:100%;
		bottom: 10vh;

	}

}

.photo-content-title {

	font-family: $verdana;
	color:white;
	font-size: 2rem;
	letter-spacing: -1px;
	margin-bottom: 20px;

	@include breakpoint(1000px) {

		font-size: 1.5rem;

	}

}

.photo-content-text {

	font-family: $verdana;
	color:white;
	font-size: 1.1rem;

	@include breakpoint(1000px) {

		font-size: .9rem;

	}

}

.photo-content-button {

	position: relative;
	width:150px;
	height:40px;
	border:3px solid white;
	float:right;
	margin-top: 50px;
	@include transition(all .25s linear);

	p {

		@include center;
		color:white;
		white-space: nowrap;
		font-family: $verdana;
		font-weight: bold;
		font-style: .9rem;

	}

	&:hover {

		background-color: white;

		p {

			color:$green;

		}

	}

}


.footer-banner {
	background-color: $green;
	height:250px;
	position: relative;
	color:white;

	.container {

		@include center;

	}
}

.banner-quote {

	font-family: $verdana;
	font-size: 2rem;
	letter-spacing: -3px;

	@include breakpoint(1000px) {

		font-size: 1.2rem;
		letter-spacing: -1px;

	}

}

.banner-quote-source {

	font-family: $verdana;
	text-transform: uppercase;
	font-size: 1rem;
	margin-top: 20px;

	@include breakpoint(1000px) {

		font-size: .8rem;

	}

}

.intro-blurb-container {
	
	width:100%;
	overflow: auto;
	margin: 50px 0 100px 0;

}

.intro-blurb-column {

	float:left;
	width:50%;
	@include box-sizing(border-box);
	padding:10px 40px 40px 40px;
	text-align: right;

	&:last-child {

		text-align: left;
		border-left:2px solid #d1d1d1;

		@include breakpoint(1000px) {

			border:none;

		}

	}

	.section-title {

		border:none;
		font-style: normal;
		font-family: $verdana;
		font-size: 1.5rem;
		margin-bottom: 20px;

	}


	.text {

		font-family: $verdana;

	}

	@include breakpoint(1000px) {

		float: none;
		width:100%;
		text-align: left;
		padding: 10px 0px;
		border:none;

	}

}



.divider {
	height:2px;
	width:100%;
	// margin: 1px 0;
	background-color: #d1d1d1;
	clear: both;

}

.medium-container {

	position: relative;
	width:100%;
	height:auto;
	overflow: visible;
	position: relative;
	margin-top: 75px;
	margin-bottom: 100px;

	@include breakpoint(1000px) {

		margin:30px 0;

	}

	.section-title {

		border:none;
		font-style: normal;
		font-family: $verdana;
		font-size: 1.5rem;
		margin-bottom: 40px;
		padding-bottom: 10px;
		border-bottom: 2px solid #d1d1d1;

		&:last-child {

			position: absolute;
			right:0;
			top:110%;
			border:none;
			border-top: 2px solid #d1d1d1;
			padding-top: 10px;
			margin-bottom: 0;

			i {

				position: absolute;
				@include centerLeft;
				left:105%;
				font-size: 3rem;

			}

		}

	}

}

.section-title {
	border-bottom: 6px solid $green;
	width:auto;
	display: inline-block;
	font-family: $georgia;
	font-weight: bold;
	font-style: italic;
	font-size: 2rem;
	margin-bottom: 40px;
	color:$text-color;
}


.twitter-container {
	width:100%;
	height:auto;
	position: relative;
	overflow: auto;
	margin: 70px 0 125px 0;
}


.twitter-block {

	width:46%;
	height:350px;
	float: left;
	@include box-sizing(border-box);
	padding: 40px 60px;
	position: relative;


	&:first-child {
		border-left: 2px solid #d1d1d1;
		// padding-left: 0;


		.tweet-handle-container {
			// left: 0;

			@include breakpoint(1000px) {

				left:20px;

			}
		}

		@include breakpoint(1000px) {
			padding: 20px;
			border:none;

		}

	}

	&:nth-child(2) {
		border-left: 2px solid #d1d1d1;	
		border-right: 2px solid #d1d1d1;	
		// padding-right: 0;

		@include breakpoint(1000px) {

			padding: 20px;
			border:none;

		}
	}

	@include breakpoint(1000px) {

		width:100%;
		float:none;
		padding:20px;

	}

}

.twitter-see-more {

	float:left;
	height:350px;
	width:8%;
	overflow: hidden;
	position: relative; 

	@include breakpoint(1000px) {

		display: none;

	}

}

.twitter-circle {

	width:100px;
	height:100px;
	border-radius: 50%;
	background-color: $blue;
	@include center;
	left:0%;

	i {

		color:white;
		@include centerRight;
		font-size: 3rem;
		right:20px;

	}

}

.tweet-text {

	font-family: $georgia;
	font-style: italic;
	font-size: 1.5rem;
	margin-bottom: 5px;
	color:$blue;
	font-weight: bold;

	@include breakpoint(1000px) {

		// font-size: .9rem;

	}

}

.tweet-time {
	font-family: $verdana;
	color: lighten($text-color, 50%);
	font-size: .8rem;

}


.tweet-handle-container {
	overflow: auto;
	position: absolute;
	left: 40px;
	bottom: 40px;

	i {
		color:#78cbef;
		font-size: 2rem;
		float:left;
		margin-right: 5px;
	}

	p {

		font-family: $verdana;
		font-size: .8rem;
		float:left;
		line-height: 2rem;
		color:lighten($text-color, 50%);

	}

	@include breakpoint(1000px) {

		left:20px;

	}

}

.footer {
	background-color: black;
	width:100%;
	height:275px;
	position: relative;
	color:white;
	// @include box-sizing(border-box);


	@extend .details;

	.container {
		@include center;
		overflow: auto;
		width:93%;
		// height:100%;
		height:auto;

		@include breakpoint(1000px) {

			padding: 40px 0;
			position: static;
			@include transform(none);

		}

	}

	.footer-details {
		
		float:left;
		margin-right: 70px;

		p {
			margin-bottom: 3px;
		}

		@include breakpoint(1000px) {

			position: static;
			@include transform(none);
			margin-top: 30px;
			font-size: .7rem !important;

		}
	}


	li {

		margin-bottom: 3px;

	}

	a {

		&:hover {

			text-decoration: underline;

		}

	}

	@include breakpoint(1000px) {

		height:auto;

	}
}

.footer-title {

	font-weight: bold;
	color:$green;


}

.footer-links {

	float:left;
	margin-right: 70px;

}

.portal-links {

	float:left;

}

.footer-logo {
	float:none;
	display: block;
	width:240px;
	margin-bottom: 17px;

	@include breakpoint(1000px) {

		position: static;
		@include transform(none);
		width:80%;

	}
}

.details {

	font-family: $verdana;
	color:white;
	font-size: .8rem;

	a {
		color:white;
	}

	@include breakpoint(1000px) {

		font-size: .5rem;

	}



}

.footer-nav {

	float:right;
	font-family: $verdana;
	color:white;
	font-size: .8rem;
	margin-left: 40px;

	ul {
		text-align: right;
	}

	@include breakpoint(1000px) {

		display: none;

	}

}

.footer-next-page {

	float:right;
	position: relative;
	height:100%;
	// width:;
	margin-left: 40px;
	text-align: right;

	i {
		// @include center;
		color:$green;
		font-size: 4rem;

	}

}


.team-member {

	position: relative;
	width:100%;
	height:auto;
	overflow: auto;
	padding: 50px 0;

	&:first-child {

		padding-top: 75px;

		@include breakpoint(1000px) {

			padding-top: 30px;

		}

	}

	&:last-child {

		padding-bottom: 75px;

	}

}

.team-member-image-container {

	float:left;
	width: 8%;

	@include breakpoint(1000px) {

		float:none;
		width:80%;
		margin:0 auto;	

	}

}

.team-member-image {

	width:170px;
	height:170px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;

	@include breakpoint(1000px) {

		margin: 0 auto;

	}

}

.team-member-info-container {
	float:right;
	width:80%;

	@include breakpoint(1000px) {

		float:none;
		width:100%;

	}
}


.team-member-name {

	color:$text-color;
	margin-bottom: 5px;

	span:first-child {

		font-family: $georgia;
		font-weight: bold;
		font-size: 2rem;
		border-right: 4px solid $green;
		padding-right: 20px;

		@include breakpoint(1000px) {

			font-size: 1.5rem;

		}

	}

	span:last-child {

		font-family: $verdana;
		font-size: 1.2rem;
		padding-left: 20px;
		line-height: 2rem;

	}

	@include breakpoint(1000px) {

		text-align: center;

	}

}

.team-member-description {

	@extend .text;

	a {

		color:$green;

	}

	@include breakpoint(1000px) {

		
		font-size: .9rem;

	}

}



.secondary-team {

	width:100%;
	height:auto;
	position: relative;
	overflow: auto;
	padding:60px 0;

}

.secondary-team-member {

	position: relative;
	width:20%;
	background-size: cover;
	background-position: center;
	float:left;
	overflow: hidden;

	@include breakpoint(1000px) {

		width:50%;

	}

}


.secondary-team-member-info {

	position: absolute;
	bottom:15px;
	left:15px;
	color:white;

}

.secondary-team-member-name {

	font-family: $georgia;
	font-weight: bold;
	font-style: italic;
	font-size: 1.2rem;

}

.secondary-team-member-position {

	font-family: $verdana;
	font-size: .8rem;

}

.overlay {

	position: absolute;
	width:100%;
	height:100%;
	background-color: $green;
	opacity: .9;
	top:100%;
	right:100%;
	@include transition(all .25s ease);
	
}



.affiliations {

	width:100%;
	height:auto;
	padding: 50px 0;

	.section-title {
		margin-bottom: 20px;
	}

}

.ethics {

	@extend .affiliations;

	ul {
		
		width:300px;
		margin:0 auto;
		font-family: $georgia;
		font-size: 1.3rem;
		padding:30px;

		@include breakpoint(1000px) {

			width:100%;
			font-size: 1rem;
			padding:30px 0 30px 0;

		}

	}

	li {
		display: inline-block;
		float:none;
		margin-bottom: 10px;

		span {

			color:$green;

			font-weight: bold;
			font-style: italic;

		}

	}

}

.service-module-title {
	border: none;
	margin-bottom: 10px;
	font-size: 1.5rem;
	// text-align: center;
	display:block;
	font-style: normal;
}

.service-modules-container {

	width:100%;
	overflow: auto;
	margin-top: 50px;


}

.service-module {

	float:left;
	width:36%;
	@include box-sizing(border-box);
	

	.text {
		font-size: .9rem;
		line-height: 1.5rem;
	}


	.section-title {
		
		@extend .service-module-title;

	}

	&:first-of-type {
		width:32%;
		padding:0 40px 0px 0;
		

	}

	&:nth-of-type(2) {
		border-right:2px solid #d1d1d1;
		padding:0 40px 0 40px;
		border-left:2px solid #d1d1d1;

	}

	&:last-of-type {

		width:32%;
		padding:0 0 0px 40px;
		

	}

	a {

		font-family: $verdana;
		font-weight: bold;
		color:$green;

	}

	@include breakpoint(1000px) {

		float:none;
		width:100% !important;
		padding: 0 !important;
		border:none !important;
		margin-bottom: 40px;

	}

}

.info-modules-container {

	@extend .service-modules-container;
	overflow: auto;
	// margin-top: 120px;
	padding-top: 120px;
	margin-bottom: 200px;


	.info-module {

		position: relative;
		font-size: .8rem;
		@include box-sizing(border-box);
		// padding-top: 30px;
		overflow: auto;

		.section-title {

			font-family: $verdana;
			border:none;
			font-style: normal;	
			text-transform: uppercase;
			font-size: 1.2rem;
			color:#919394;
		}

		.text {

			font-family: $verdana;
			line-height: 1.2rem;
			color:#919394;

		}

		&:first-child {

			width: 32%;
			float:left;
			padding-right: 40px;

		}


		&:last-child {

			width:68%;
			float:left;
			padding-left: 40px;
			border-left:2px solid #d1d1d1;



		}


	}

}

.faq-column {

	width:50%;
	float:left;
	@include box-sizing(border-box);
	padding: 0 40px 0 0;


	&:last-child {

		padding: 0 0 0 40px;

	}


}


.affiliations-module-container {

	@extend .service-modules-container;

	.section-title {

		display: inline-block;
		font-family: $verdana;
		text-transform: uppercase;
		font-style: normal;
		font-size: 1.5rem;
		padding-bottom: 10px;

	}

	border-top: 2px solid #d1d1d1;
	border-bottom: 2px solid #d1d1d1;
	@include box-sizing(border-box);
	padding: 125px 0;
	margin: 100px 0;

}

.affiliations-module {

	@extend .service-module;

	font-family: $verdana;
	color:$text-color;
	font-size: .8rem;
	padding-top: 25px !important;
	padding-bottom: 25px !important;
	line-height: 1.5rem;

}


.ethics-module-container {

	@extend .affiliations-module-container;

	border-top: 0;
	margin-top: 0;
	padding-top: 20px;

	.text {

		font-family: $verdana;
		font-size: .8rem;
		width:60%;
		line-height: 1.5rem;

	}

}

.ethics-slideshow {

	position: relative;
	margin: 15px 0;
	height:7rem;
	overflow: hidden;

}

.ethics-slide {

	position: absolute;
	@include transform(translate(-100%, 0));
	font-family: $verdana;
	font-weight: bold;
	font-size: 5.5rem;
	background-color: white;
	letter-spacing: -5px;
	color:$green;
	@include transition(all .5s ease);


}

.ethics-slide-visible {

	@include transform(translate(0%, 0))

}

.ethics-slideshow-title {

	display: inline-block;
	font-family: $verdana;
	text-transform: uppercase;
	font-size: 1rem;
	@include box-sizing(border-box);
	border-top: 2px solid lighten($text-color, 55%);
	padding-top: 10px;
	margin-top: 10px;
	color:lighten($text-color, 55%);

}





.process-line {

	width:98%;
	height:auto;

	@include breakpoint(1000px) {

		display: none;

	}
	
}

.process-module {

	overflow: auto;
	width:100%;
	height:auto;
	position: absolute;

	@include breakpoint(1000px) {

		position: static;

	}

}

.process-module-end {

	position: relative;
	bottom: 80px;


}

.process-module-left {

	.process-module-icon {
		width:12%;
	}

	.process-module-text {
		width:50%;
	}

	i {
		padding: 30px 30px 30px 0px;
	}

}

.process-module-right {

	.process-module-icon {
		width:15%;
		float:right;
	}

	.process-module-text {
		width:55%;
		float:right;
	}

	i {
		padding: 30px 0px 30px 30px;
	}

}

.process-module-center {

	background-color: white;
	padding:25px 0;

	.process-module-icon {

		float:none;
		width:100%;
		text-align: center;

	}

	.process-module-text {

		float:none;
		width:60%;
		text-align: center;
		margin:0 auto;

		.section-title {

			margin:20px 0;

		}

	}
}

.process-module-icon {

	float:left;
	background-color: white;

	i {

		color:#dddddd;
		font-size: 6rem;
		@include transition(all .25s ease);
	}

	@include breakpoint(1000px) {

		display: none;

	}


}

.process-module-text {
	float:left;

	.section-title {

		margin-bottom: 10px;
		width:0px;
		@include transition(width .25s ease);
		font-family: $verdana;
		font-style: normal;

	}

	.text {

		font-family: $verdana;

	}

}


.process-discover {

	top:230px;

}

.process-analyze {

	top:840px;

}

.process-develop {

	top:1825px;

}


.process-implement {

	top:2350px;

}


#analyze-title {

	direction:rtl;

}

#implement-title {

	overflow: auto;
	height:3.5rem;

	p {

		@include center;

	}

}


.blog-thumb-container {

	@extend .medium-container;	

}

.medium-row {

	width:100%;
	height:auto;
	overflow: auto;
	margin-bottom: 10px;

}


.skippr {
	width:100%;
	height:100%;
	position: relative;
	overflow:hidden;
}

.skippr > div {
	position: absolute;
	width:100%;
	height:100%;
	background-size: cover;
	background-position: 50% 62.5%;

}

.skippr > img {
	position: absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:100%;
	min-height: 100%;
}

.skippr-nav-container {
	position: absolute;
	left:50%;
	-webkit-transform:translate(-50%,0);
	transform:translate(-50%,0);
	-moz-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);

	bottom:25px;
	overflow: auto;
	z-index:999;

}

.skippr-nav-element {
	cursor:pointer;
	float:left;
	background-color: rgba(255,255,255,0.5);
	-webkit-transition: all .25s linear;
	transition: all .25s linear;
}

.skippr-nav-element-bubble {
	width:12px;
	height:12px;
	border-radius: 50%;
	margin:0 4px;
}

.skippr-nav-element-block {
	width:60px;
	height:10px;
}



.skippr-nav-element:hover, .skippr-nav-element-active {
	background-color:rgba(255,255,255,1);
}


.skippr-arrow {
	position: absolute;
	z-index:999;
	top:50%;
	-webkit-transform:translate(0%,-50%);
	-moz-transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%);
	transform:translate(0%,-50%);

	width:30px;
	height:30px;
	/*background-color: white;*/
	transform-origin:center center;
	-webkit-transform-origin:top left;
	cursor: pointer;
}

.skippr-previous {
	left:2.5%;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	border-top:2px solid white;
	border-left:2px solid white;
}

.skippr-next {
	right:3.5%;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
	border-bottom:2px solid white;
	border-right:2px solid white;
}



.active-video-container {

	width:100%;
	margin-bottom: 30px;

}


.active-video-title {

	font-family: $georgia;
	font-weight: bold;
	color:$text-color;
	font-size: 1.5rem;

}

.active-video-description {

	font-family: $verdana;
	color:$text-color;
	font-size: .8rem;

}


.video-thumbnail-container {

	width:100%;
	position: relative;
	overflow: auto;
	margin:30px 0 250px 0;

}

.video-thumbnail {

	position: relative;
	width:20%;
	float:left;
	background-color: $green;
	@include box-sizing(border-box);
	padding: 7px;
	background-clip: content-box;
	color:white;
	cursor:pointer;

	i {

		@include center;
		color:white;
		font-size: 3rem;

	}

}

.video-thumbnail-info-container {

	position: absolute;
	bottom: 0;
	@include box-sizing(border-box);
	padding: 0 10px 20px 10px;
	


}

.video-thumbnail-title {

	font-family: $georgia;
	font-weight: bold;
	font-size: .9rem;

}

.video-thumbnail-description {

	font-family: $verdana;
	font-size: .7rem;

}



.inquiry-banner {

	@extend .home-banner;
	background-color: $green;
	height:100vh;

}

.inquiry-form-container {

	@include center;

	overflow: auto;

}


.inquiry-form {

	width:400px;
	

	& > div {

		margin-bottom: 20px;

		&:nth-child(6) {

			margin-bottom: 40px;

		}

	}



	input, textarea {

		background-color: transparent;
		border:none;
		border-bottom: 1px solid white;
		width:100%;
		font-family: $verdana;
		color:white;
		font-size: .9rem;

		&:focus {

			outline: none;

		}

	}

	textarea {

		height: 50px;

	}

	label {

		font-family: $verdana;
		color:white;
		font-size: .7rem;		

	}

}

.inquiry-form-button {
	margin-top: 40px;
	height:50px;
	width:50%;
	float:left;
	@include box-sizing(border-box);
	border:1px solid white;
	position: relative;
	color:white;
	

	&:last-child {

		background-color: white;
		color:$green;

	}

	p {

		@include center;
		text-transform: uppercase;
		font-size: .9rem;
		font-family: $verdana;
		white-space: nowrap;

	}

}


.inquire-link {

	position: absolute;
	left:2.5vw;
	bottom: 14vh;
	font-size: .8rem;

	font-family: $verdana;
	color: lighten($text-color, 25%);
	z-index: 4;

}


#skippr-target {

	@include breakpoint(1000px) {

		display: none;

	}

}